/* Reset dei margini e dei padding per il body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Colore di sfondo */
}

/* Stile del contenitore principale */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Stile del titolo */
.title {
  text-align: center;
  color: #333;
}

/* Stile del contenitore del QR */
.qr-container {
  text-align: center;
  margin-top: 20px;
}

/* Stile del QR Code */
#qrImage {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Stile del contenitore della tabella */
.table-container {
  padding: 0;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5; /* Add a light gray background to the table */
}
th,
td {
  border: 1px solid #ddd; /* Change border color to light gray */
  padding: 8px 15px; /* Increase horizontal padding */
  text-align: left;
}
th {
  font-weight: bold; /* Make headers bold */
  background-color: #eee; /* Add a light gray background to headers */
}
